@media screen and (max-width: 992px) {
        .img-nft1{
            max-width:280px;
            max-height:280px;
        }
        .text-all h1{
            font-size: 30px;
        }  
        .text-all{
            padding-right: 25px;
        }
        .btndiscover{
            width: 160px;
            height: 50px;
        }
        .imgnft img{
            max-width: 175px;
            max-height:175px;
            min-height: 175px;
            min-width: 175px;
        }
}
@media screen and (max-width: 768px) {
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 24px
    }
    h3{
        font-size: 20px;
    }

}