@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
footer{
    padding-top: 30px;
    border-top: white solid 1px;
}
.footer-high{
    display: flex;
    justify-content: space-around;
}
.textfooter1{
    max-width: 333px;
    padding-right: 100px;
}
.textfooter1 h3{
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
}
.textfooter p{
    max-width: 333px;
    font-size: 14px;
    color: #565656;
    padding-top:28px;
    font-family: 'DM Sans';  
}
.textmarket{
max-width: 115px;
max-height: 250px;
padding-right:100px ;
}
 h4{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}
.textmarket li{
    font-family: 'DM Sans';  
    font-weight: 500;
    font-size: 14px;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    
}
.textmarket a{
    text-decoration: none;
    color: black;
    padding-top:5px;
}
.askforme img{
max-height: 36px;
max-width: 36px;
}
.footer-low{
    text-align: center;
}
ul{
    padding-left: 0px;
}
.container{
    padding-bottom: 5px;
    border-bottom: solid 1px #565656;
    padding-top: 5px;
}
footer{
    background-color: #FFFAFA;
}