@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.nav-market{
    display: flex;
    justify-content: space-around;
}
.linkdiv{
    background-color: #FF4500;
    border: solid #FF4500 1px;
    border-radius: 30px;
    width: 170px;
    height: 42px;
    color: white;
    text-align: center;
    align-items: center;
}
.linkdiv:hover{
    background-color: white;
    border: #FF4500 solid 1px;
    color: #FF4500;
}
.items1{
display: flex;
}
.item{
    max-height: 500px;
    max-width: 500px;
    padding-bottom: 40px;
    padding-right: 40px;
    align-items: center;
}
.imgnft img{
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
    min-width: 300px;
}
.imgnft{
    padding-bottom: 15px;
}
.textsale{
    padding-top: 15px;
    font-family: 'DM Sans';
    text-align: center;
}
.item-small:hover{
    background-color: #56565656;
}
.btnsale{
width: 110px;
height: 40px;
background-color: #FF4500;
border: none;
border-radius: 30px;
color: white;
margin-top: 15px;
}
.btnsale:hover{
    background-color: white;
    border: #FF4500 solid 1px;
    color: #FF4500;
}
h1{
    padding-bottom: 20px;
    font-family: 'roboto condensed';
}
.container{
    padding-bottom: 5px;
    border-bottom: solid 1px #565656;
    padding-top: 5px;
}